nav  a{
    text-decoration: none;
    font-size: 25px;
}
nav{
    display: flex;
    justify-content: space-between;

}
.navibar-container a{
    margin: 0 40px;
}
.container .needgap{
    margin-top: 5px;
}
.container{
    display: flex;
    justify-content: center;
    height: 95vh;
    align-items: center;
}