/* 71 width in my device */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.hero{
   background-image:linear-gradient(0deg, rgba(9, 9, 9, 1) -19.5%,
rgba(16, 16, 16, 0) 100% ), url(/food-resturant-project/assets/hero-bg.png);

   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 653px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap:30px;

}
.hero .hero-content{
    width: 964px;
    /* margin-left: auto;
    margin-right: auto; */
    /* margin: 0 auto; */
}
.hero .hero-content .title{
    opacity: 0.8;
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-weight: 600;
    font-size: 23px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align:center;
}
.hero .hero-content .hading{
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-weight: 700;
    font-size: 45px;
    line-height: 57px;
    letter-spacing: 0%;
    text-align: center;
}
.hero .hero-content .content-des{
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    width: 726px;
    height: 40px;
    top: 169px;
    left: 0;
    opacity: 70%
    padding: 50px 2000px;
    margin: 0 auto;

}
.hero .hero-content .btn{
    background-color: rgba(82, 195, 3, 1);
    color: rgba(255, 255, 255, 1);
    font-family:Work Sans;
    font-weight : 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    width: 200px;
    Height: 46px;
    top: 232px;
    left: 263px;
    border-radius: 6px;
    border: none;

}
.hero .hero-content .btn-container{
    text-align: center;
    margin-top: 25px;
}